//resolutions
$widthDesktopMin: 680px;
$widthDesktopMax: 1440px;

$purple1: #7C5DFA;
$purple2: #9277FF;
$blue1:#1E2139;
$blue2: #252945;
$grey: #DFE3FA;
$grey2: #888EB0;
$grey3: #7E88C3;
$red1: #EC5757;
$red2: rgb(255, 151, 151);
$background-light: #F8F8FB;
$background-dark: #141625;


$bodyFontFamily: 'Spartan',
sans-serif;
$H1Fontsize: 32px;
$H1Line: 36px;
$H1Spacing: -1;

$H2LontSize: 20px;
$H2Line: 22px;
$H2Spacing: -0.63;

$H3FontSize: 16px;
$H3Line: 24px;
$H3Spacing: -0.8;

$H3SmallFontSize: 12px;
$H3SmallLine: 15px;
$H3SmallSpacing: -0.25;

$bodyText1FontSize: 12px;
$bodyText1Line: 15px;
$bodyText1Spacing: -0.25;

$bodyText2FontSize: 11px;
$bodyText2Line: 18px;
$bodyText2Spacing: -0.23;